# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea
.ipynb_checkpoints

.DS_Store

venv

biopython.fa

csvdata.tsv

csvdictdata.tsv

data/mydata.csv

gene_lengths_csv.tsv

gene_lengths.tsv

out.txt
